*{
	margin: 0;
	padding: 0;
}
.q{
	width: 100%;
	height: 100vh;
}
.box{
	width: 1226px;
	margin: auto;
}
.a img{
	padding-left: 150px;
	height: 98px;
}
.w{
	width: 100%;
	height: 588px;
	background-image:url("https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/af1d661322b54160a34bd319a671b6d9.jpg");
	background-position: top center;
}
.r{
	width: 1226px;
	height: 524px;
	argin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
}
.t{
	width: 410px;
	height: 524px;
	background: white;
	box-sizing: border-box;
	margin-top: -590px;
	margin-right: -30px;
}
.y{
	padding: 27px 0 24px;
	font-size: 24px;
	text-align: center;
}
.y{
	width: 410px;
	height: 83px;
	padding: 0 70px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	line-height: 83px;
	box-sizing: border-box;
}
.u{
	display: block;
	text-align: center;
}
.list{
	width: 346px;
	height: 48px;
	border: 1px solid #e0e0e0;
	padding: 13px 14px;
	box-sizing: border-box;
	margin-bottom: 14px;
	display: block;
	margin: auto;
	
}
.list input{
	width: 346px;
	height: 22px;
	border: none;
	outline: none;
	display: block;
	margin: auto;
}
.list1{
	width: 346px;
	height: 48px;
	border: 1px solid #e0e0e0;
	padding: 13px 14px;
	box-sizing: border-box;
	margin-bottom: 14px;
	display: block;
	margin: auto;
	margin-top: 10px;
	
}
.list1 input{
	width: 346px;
	height: 22px;
	border: none;
	outline: none;
	display: block;
	margin: auto;
	
}
.list3{
	width: 346px;
	height: 50px;
	background: #ff6700;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	display: block;
	margin: auto;
	margin-top:10px ;
}
.list4{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #999;
}
.list4 span:first-child a{
	color: #ff6700;
}
.list4 span:last-child a{
	color: #999;
}
.list4 span:last-child a:hover{
	color: #ff6700;
}
.list5{
	font-size: 14px;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 10px;
}
.list5 .line{
	width: 130px;
	height: 1px;
	background: #e0e0e0;
}
.list6{
	display: flex;
	justify-content: center;
}
.list6>div{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 17px;
}
.list6>div:nth-child(1){
	background-image: url(https://account.xiaomi.com/static/res/166d6dc/account-static/respassport/acc-2014/img/icons_type.png);
	background-repeat:no-repeat ;
	background-size: auto 28px;
	background-position:-29px 1px;
	background-color: #0288d1;
}
.list6>div:nth-child(2){
	background-image: url(https://account.xiaomi.com/static/res/166d6dc/account-static/respassport/acc-2014/img/icons_type.png);
	background-repeat:no-repeat ;
	background-size: auto 24px;
	background-position:-47px 3px;
	background-color: #d32f2f;
}
.list6>div:nth-child(3){
	background-image: url(https://account.xiaomi.com/static/res/166d6dc/account-static/respassport/acc-2014/img/icons_type.png);
	background-repeat:no-repeat ;
	background-size: auto 24px;
	background-position:-74px 3px;
	background-color: #0ae;
}
.list6>div:nth-child(4){
	background-image: url(https://account.xiaomi.com/static/res/166d6dc/account-static/respassport/acc-2014/img/icons_type.png);
	background-repeat:no-repeat ;
	background-size: auto 22px;
	background-position:-100px 4px;
	background-color: #00d20d;
}


.dibu{
	width: 100%;
	margin-top: 110px;
}
.dibu .end-top{
	width: 1226px;
	font-size: 14px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	color: #757575;
}
.dibu .end-top a{
	color: #757575;
}
.dibu .end-top a:first-child{
	color: #333;
}
.dibu .end-top a:hover{
	color: #333;
}
.dibu .end-top span{
	margin: 0 12px;
}
.dibu .end-bottom{
	width: 1226px;
	margin: 14px auto;
	font-size: 14px;
	display: flex;
	justify-content: center;
	color: #757575;
}

